/* ----------------------- */
/*       Main styles       */
/* ----------------------- */

/* Global styles */
body {
    font-family: 'Source Sans Pro', sans-serif;
}

/* Section styles */
header {
    background-color: #4FBDD2;
    padding: 25px 25px;
}

.projects {
    background-color: white;
    padding: 35px 15px;
}

.about {
    background-color: #333333;
    color: white;
    padding: 35px 15px;
}

.process {
    background-color: #333333;
    color: white;
    padding: 35px 15px;
}

footer {
    background-color: #F6F6F6;
    padding: 50px 15px;
    text-align: center;
}

.photo {
    border-radius: 1000px;
    margin: 0 0 15px 0;
}

/* Heading styles */
h1 {
    color: white;
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
    text-transform: none;
    line-height: 1em;
    text-shadow: 0 1px 1px #777;  
}

h2 {
    color: black;
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
}

h3 {
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 20px 0;
}

h4 {
    font-size: 1.15em;
    font-weight: 600;
    color: white;
    text-shadow: 0 1px 1px #333;    
}


/* Project tile styles */
.project {
    background-size: cover;
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: overlay;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px darkgrey;
    min-height: 100px;
}

.project:hover {
    transform: scale(1.02);
    transition: all 0.2s;
}

.project:focus {
    transform: scale(1.02);
    transition: all 0.2s;
}


/* Button styles */
.btn-primary {
    color: white;
    background: #333333;
    border-radius: 50px;
    border: none;
    margin: 20px 0;
    padding: 10px 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s;    
}

.btn-primary:hover {
    transform: scale(1.03);
    transition: all 0.2s;
    background: white;
    color: black;    
    text-decoration: none;
}


/* Link styles */
a {
    color: #69BCCE;
    text-decoration: underline;
}

a:hover {
    color: #69BCCE;
    text-decoration: none;
}